<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControlPanelServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.AdminControlPanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductForAdminServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.SearchProductForAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginUpdateServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.AdminLoginUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSignupServlet</servlet-name>
        <servlet-class>Servlets.CustomerSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>Servlets.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductForCustomerServlet</servlet-name>
        <servlet-class>Servlets.SearchProductForCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCartServlet</servlet-name>
        <servlet-class>Servlets.ManageCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>Servlets.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>Servlets.AdminServlets.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>Servlets.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInfoUpdateServlet</servlet-name>
        <servlet-class>Servlets.CustomerInfoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerMainMenuServlet</servlet-name>
        <servlet-class>Servlets.CustomerMainMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>Servlets.Utilities.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>Servlets.EditCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControlPanelServlet</servlet-name>
        <url-pattern>/AdminControlPanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductForAdminServlet</servlet-name>
        <url-pattern>/SearchProductForAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginUpdateServlet</servlet-name>
        <url-pattern>/AdminLoginUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSignupServlet</servlet-name>
        <url-pattern>/CustomerSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/CustomerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductForCustomerServlet</servlet-name>
        <url-pattern>/SearchProductForCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCartServlet</servlet-name>
        <url-pattern>/ManageCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInfoUpdateServlet</servlet-name>
        <url-pattern>/CustomerInfoUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerMainMenuServlet</servlet-name>
        <url-pattern>/CustomerMainMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/EditCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
